{% extends 'dashboard.html' %}
{% load static %}

    {% block content %}
    <div class="container-form">
    <h1 class= 'main-title-form'> Form Request Raw Material </h1>

    <form method = 'POST' class="formproduct">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn-form">Submit</button>
    </form>
    </div>
   
    {% if success %}
    <script>
      Swal.fire({
        icon: 'success',
        title: 'Success!',
        text: 'Form submitted successfully.',
        confirmButtonColor: '#3085d6',
        confirmButtonText: 'OK'
      });
    </script>
    {% endif %}
   {% endblock %}