{% extends 'dashboard.html' %}
{% load static %}

    {% block content %}
<div class="container-form">
  <h1 class="main-title-form">Submit General Report</h1>
  <form method="POST" enctype="multipart/form-data" class="form-text-report">
    {% csrf_token %}

    <div class="form-group">
      <label for="id_title">Title</label>
      {{ form.title }}
    </div>

    <div class="form-group">
      <label for="id_content">Content</label>
      {{ form.content }}
    </div>

    <div class="form-group file-section">
      <label for="id_file">Upload File (optional)</label>
      {{ form.file }}
    </div>

    <button type="submit" class="btn-form">Submit</button>
  </form>
</div>

     {% if success %}
    <script>
      Swal.fire({
        icon: 'success',
        title: 'Success!',
        text: 'Report submitted successfully.',
        confirmButtonColor: '#3085d6',
        confirmButtonText: 'OK'
      });
    </script>
    {% endif %}
{% endblock %}