{% extends 'dashboard.html' %}
{% load static %}

{% block content %}
 <div class="container">
    <h1 class= 'main-title-stock'> Inventory </h1>
    <div class="users-table table-wrapper-stock">
              <table class="posts-table">
                <thead>
                  <tr class="users-table-info">
                    <th>
                      <label class="users-table__checkbox ms-20">
                        <input type="checkbox" class="check-all">Inventory
                      </label>
                    </th>
                    <th>Name</th>
                    <th>Stock</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <label class="users-table__checkbox">
                        <input type="checkbox" class="check">
                        <div class="categories-table-img">
                        <img src="{% static 'img/material/1.jpeg' %}" alt="material">
                        </div>
                      </label>
                    </td>
                    <td>
                      Kunyit
                    </td>
                    <td>
                        1200
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="users-table__checkbox">
                        <input type="checkbox" class="check">
                        <div class="categories-table-img">
                        <img src="{% static 'img/material/2.jpeg' %}" alt="material">
                        </div>
                      </label>
                    </td>
                    <td>
                      Adas
                    </td>
                    <td>
                        1491
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="users-table__checkbox">
                        <input type="checkbox" class="check">
                        <div class="categories-table-img">
                          <img src="{% static 'img/material/3.jpg' %}" alt="material">
                        </div>
                      </label>
                    </td>
                    <td>
                      Cengkeh
                    </td>
                    <td>
                        2710
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="users-table__checkbox">
                        <input type="checkbox" class="check">
                        <div class="categories-table-img">
                          <img src="{% static 'img/material/4.jpeg' %}" alt="material">
                        </div>
                      </label>
                    </td>
                    <td>
                      Susu
                    </td>
                    <td>
                        2013
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="users-table__checkbox">
                        <input type="checkbox" class="check">
                        <div class="categories-table-img">
                          <img src="{% static 'img/material/5.png' %}" alt="Material">
                        </div>
                      </label>
                    </td>
                    <td>
                      Gula
                    </td>
                    <td>
                        1930
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="users-table__checkbox">
                        <input type="checkbox" class="check">
                        <div class="categories-table-img">
                         <img src="{% static 'img/material/6.jpg' %}" alt="material">
                        </div>
                      </label>
                    </td>
                    <td>
                      Lengkuas
                    </td>
                    <td>
                        1294
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="users-table__checkbox">
                        <input type="checkbox" class="check">
                        <div class="categories-table-img">
                         <img src="{% static 'img/material/7.jpg' %}" alt="material">
                        </div>
                      </label>
                    </td>
                    <td>
                      TemuLawak
                    </td>
                    <td>
                        2810
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="users-table__checkbox">
                        <input type="checkbox" class="check">
                        <div class="categories-table-img">
                         <img src="{% static 'img/material/8.jpg' %}" alt="material">
                        </div>
                      </label>
                    </td>
                    <td>
                      Bangle
                    </td>
                    <td>
                        1937
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="users-table__checkbox">
                        <input type="checkbox" class="check">
                        <div class="categories-table-img">
                         <img src="{% static 'img/material/9.jpg' %}" alt="material">
                        </div>
                      </label>
                    </td>
                    <td>
                      Jahe
                    </td>
                    <td>
                        1939
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="users-table__checkbox">
                        <input type="checkbox" class="check">
                        <div class="categories-table-img">
                         <img src="{% static 'img/material/10.jpg' %}" alt="material">
                        </div>
                      </label>
                    </td>
                    <td>
                      Lempuyang
                    </td>
                    <td>
                        962
                    </td>
                  </tr>
                   <tr>
                    <td>
                      <label class="users-table__checkbox">
                        <input type="checkbox" class="check">
                        <div class="categories-table-img">
                         <img src="{% static 'img/material/11.jpg' %}" alt="material">
                        </div>
                      </label>
                    </td>
                    <td>
                      Kencur
                    </td>
                    <td>
                        1837
                    </td>
                  </tr>
                   <tr>
                    <td>
                      <label class="users-table__checkbox">
                        <input type="checkbox" class="check">
                        <div class="categories-table-img">
                         <img src="{% static 'img/material/12.jpg' %}" alt="material">
                        </div>
                      </label>
                    </td>
                    <td>
                      Temu Ireng
                    </td>
                    <td>
                        1728
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

{% endblock %}